:root {
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --modal-bg: #343a408f;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    position: relative;
    scrollbar-width: none;
}

#root {
    overflow-y: hidden;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 6px;
}

.dark-mode {
    background-color: var(--dark);
    color: var(--light);
}

.light-mode {
    background-color: var(--light);
    color: var(--dark);
}