.todoList {
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 6px 12px;
    margin-top: 1.2rem;
    max-width: 600px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior-y: contain;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    max-height: 60vh;
    transition: all .3s ease;

}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 6px;
    border: 1px solid transparent;
}

@media screen and (width < 600px) {
    .todoList {
        padding: 6px;
        scrollbar-width: none;
    }
}