.createTodoForm-container {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;
    gap: 12px;
    transition: all .3s ease;
}

.createTodoForm-container--active {
    background-color: var(--modal-bg);
}

.createTodoForm__input-container {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    width: 0;
    max-width: 600px;
    opacity: 0;
    transform: translateY(-30px);
    transition: all .3s ease;
}

.createTodoForm__input-container--active {
    transform: translateY(0);
    width: 100%;
    opacity: 1;
}
.createTodoForm-input {
    border: 1px solid var(--dark);
    border-radius: 6px;
    font-size: 1.6rem;
    width: 20px;
    max-width: 600px;
    height: 100%;
    background-color: var(--light);
    color: var(--dark);
    text-align: center;
    transition: all .3s ease;
}

.createTodoForm-input--active {
    width: 200px;
    padding: 6px 24px;
    border: 1px solid var(--primary);
}
.createTodoForm-input:focus {
    outline: none;

}

.createTodoForm-icon {
    background-color: var(--light);
    border-radius: 50%;
    border: 1px solid var(--primary);
    width: 38px;
    height: 38px;
    padding: 6px;
    transition: all .3s ease;
}

.createTodoForm-icon:hover {
    color: var(--primary);
    scale: 1.05;
}